* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: 'ProximaNova';
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

.main_wrapper {
    max-width: 1920px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
    opacity: 1;
}

.preloader.done {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: -9;
}

.section_title {
    color: #000;
    margin: 0 0 10px 0;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

.section_title span {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: .5px;
}

.btn {
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #9f7a49;
    text-transform: uppercase;
    position: relative;
    transition: 0.4s ease-in-out;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn_brown {
    border: 1px solid #9f7a49;
}

.btn_brown:hover {
    color: #fff;
}

.btn_brown::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #9f7a49;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.btn_brown:hover::before {
    left: 0;
    opacity: 1;
}

.slider_content-btn {
    background: #9f7a49;
    color: #fff;
}

.slider_content-btn:hover {
    color: #9f7a49;
}

.slider_content-btn::before {
    background: #000;
}

.slider_content-btn:hover {
    background: #000;
}

.header {
    padding: 0 30px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
}

.header.sticky .header_menuBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 15px 30px;
    background: black;
}

.topBlock_line {
    padding: 12px 10px;
    text-align: center;
    color: #fff;
}

.topBlock_line.red {
    background: #EB3E3E;
}

.header_menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header_menuBar .logo {
    margin-left: 50px;
}

.site_nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site_nav > li > a {
    color: #fff;
    padding: 10px 20px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    transition: 0.4s ease-in-out;
    text-shadow: 0 0 2px #000;
}

.site_nav > li a:hover,
.site_nav > li:hover > a {
    color: #9f7a49;
    transition: 0.4s ease-in-out;
    text-shadow: initial;
}

.site_nav_dropdown {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
}

.dropdown.mega_menu .site_nav_dropdown {
    padding: 30px;
    margin-top: 10px;
    width: 70%;
    left: 15%;
}

.parent_mega_menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.parent_mega_menu .inner {
    width: 25%;
    padding: 0 10px;
}


.site_nav_dropdown .inner a,
.parent_mega_menu .inner a {
    color: #000;
    padding: 5px 0;
    display: block;
    font-size: 13px;
    line-height: 22px;
}

.site_nav_dropdown .inner a {
    font-size: 16px;
}

.parent_mega_menu .inner > a {
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
}

.header_userBar {
    display: flex;
    justify-content: space-between;
}

.site_nav .dropdown {
    position: static;
}

.site_nav_dropdown {
    visibility: hidden;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: 0 0;
    opacity: 0;
    position: absolute;
    z-index: 999;
    transition: all 0.4s ease-in-out;
}

.dropdown:hover .site_nav_dropdown {
    visibility: visible;
    overflow: visible;
    transform: scaleY(1);
    opacity: 1;
}

.dropdown > .lng_btn::before,
.dropdown > a::before {
    position: absolute;
    content: '';
    right: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
}
.dropdown:hover > .lng_btn::before,
.dropdown:hover > a::before {
    transform: translateY(-50%) rotate(180deg);
    border-top: 6px solid #9f7a49;
    transition: 0.4s ease-in-out;
}

.header_language.dropdown::before {
    content: initial;
}

.header_userBar {
    min-width: 100px;
}

.header_userBar .item{
    margin: 0 5px;
}

.header_search-btn {
    cursor: pointer;
}

.header_language {
    display: flex;
    align-items: center;
    font-size: 18px;
    position: relative;
}

.lng_btn {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    transition: 0.4s ease-in-out;
    text-shadow: 0 0 2px #000;
}

.dropdown:hover .lng_btn {
    color: #9f7a49;
    transition: 0.4s ease-in-out;
    text-shadow: initial;
}

.header_language .site_nav_dropdown {
    top: 12px;
    left: -5px;
    padding: 0;
    background: #fff;
}

.header_language .site_nav_dropdown a {
    padding: 5px;
    color: #000;
    transition: 0.4s ease-in-out;
    display: block;
}
.header_language .site_nav_dropdown a img {
    box-shadow: 0 0 2px #000;
}

.header_language .site_nav_dropdown a.active,
.header_language .site_nav_dropdown a:hover {
    color: #9f7a49;
    transition: 0.4s ease-in-out;
    background: #F6F8FA;
}

.header_userBar .fa {
    font-size: 18px;
    color: #fff;
    transition: 0.4s ease-in-out;
    text-shadow: 0 0 2px #000;
}

.header_userBar .item:hover .fa {
    color: #9f7a49;
    transition: 0.4s ease-in-out;
    text-shadow: initial;
}

.header_account.dropdown > a::before,
a.header_cart-btn::before {
    content: initial;
}

.header_cart-btn {
    position: relative;
}

.cartCount {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    transition: 0.4s ease-in-out;
}

.header_userBar .item:hover .cartCount {
    background: #9f7a49;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.slideDown_cart {
    top: 12px;
    right: 0;
    padding: 15px;
    min-width: 320px;
    text-align: center;
}

.mini_products_list .cart_item {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.mini_products_list .product_image {
    min-width: 70px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mini_products_list .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_details .btn_remove {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1px;
    color: #000;
}

.product_details .product_name {
    margin-right: 15px;
}

.product_details .fa-times,
.product_details .product_name a {
    color: #000;
    transition: 0.4s ease-in-out;
    font-size: 18px;
}

.product_details .product_name:hover a,
.product_details .fa-times:hover {
    color: #9f7a49;
    transition: 0.4s ease-in-out;
}

.cart_collateral {
    text-align: left;
}

.slideDown_cart .summary {
    margin-top: 20px;
    font-size: 18px;
}

.slideDown_cart .summary .label {
    font-weight: 400;
    text-transform: uppercase;
}

.slideDown_cart .summary .price {
    color: #9f7a49;
    margin-left: 15px;
}

.search_modalBlock {
    width: 60px;
    height: 60px;
    position: fixed;
    top: -60px;
    right: -60px;
    opacity: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-in-out;
}

.search_modalBlock.open {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .6s ease-in-out;
}

.search_modalBlock::before {
    content: '';
    right: -60px;
    top: -60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    transition: .6s ease-in-out;
    z-index: 1;
}

.search_modalBlock.open::before {
    transform: scale(75);
    transition: .6s ease-in-out;
}

.search_modalBlock .search_modalBlock-close {
    z-index: 999;
    cursor: pointer;
    font-size: 40px;
    display: inline-block;
    position: fixed;
    top: 20px;
    transform: scale(0);
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    right: 30px;
}

.search_modalBlock.open .search_modalBlock-close {
    transform: scale(1);
    transition: all .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.search_Form {
    max-width: 1000px;
    width: 100%;
    margin: 0 30px;
    position: fixed;
    top: 50%;
    right: -100%;
    transform: translate(50%, -50%);
    border-bottom: 2px solid #000;
    z-index: 3;
    transition: .6s ease-in-out;
    opacity: 0;
}

.search_modalBlock.open .search_Form {
    right: 50%;
    transition: .6s ease-in-out;
    opacity: 1;
}

.search_Form .search_Form-block {
    display: flex;
    font-size: 50px;
}

.search_Form .search_input {
    background: transparent;
    max-width: 100%;
    width: 100%;
    color: #000;
    padding: 0 15px;
}

.search_Form .search_input::placeholder {
    color: #000;
}
.search_Form .search_btn {
    color: #000;
    background: transparent;
    padding: 0 15px;
}

.header_account_dropList {
    min-width: 210px;
    right: 0;
    top: 11px;
}

.header_account_dropList a {
    color: #000;
    display: block;
    padding: 5px 0;
    transition: .4s ease-in-out;
}

.header_account_dropList a:hover {
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.main-banner {

}

.main_banner-slide {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_banner-slideLink {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.main_banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.slider_content {
    position: relative;
    z-index: 9;
    max-width: 420px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_content-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 3px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.slider_content-tittle {
    font-size: 40px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.slider_content-description {
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.slider_content.first {
    max-width: 70%;
    width: 100%;
}

.slider_content.first .slider_content-tittle {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    text-align: center;
    letter-spacing: 6px;
    text-shadow: 0 0 3px #fff;
}

.main_banner-slide.swiper-slide-active .slider_content-text {
    animation: 1s ease 0s normal none 1 running fadeInUp;
}

.main_banner-slide.swiper-slide-active .slider_content.first .slider_content-tittle,
.main_banner-slide.swiper-slide-active .slider_content-tittle {
    animation: 1.2s ease 0s normal none 1 running fadeInUp;
}

.main_banner-slide.swiper-slide-active .slider_content-description {
    animation: 1.4s ease 0s normal none 1 running fadeInUp;
}

.main_banner-slide.swiper-slide-active .slider_content-btn {
    animation: 1.8s ease 0s normal none 1 running fadeInUp;
}

.slider_content-right {
    margin-left: 50%;
}
.slider_content-left {
    margin-right: 50%;
}

.swiper-navigation {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    opacity: 0;
    transition: .4s ease-in-out;
    z-index: 99;
}

.swiper-button-prev {
    left: 50px;
}
.swiper-button-next {
    right: 50px;
}

.main-banner:hover .swiper-navigation {
    opacity: 1;
    transition: .4s ease-in-out;
}

.section_parallax {
    padding: 50px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.section_parallax1 {
    background: url('../images/paralax_bg1.webp') top left / cover fixed no-repeat;
}

.section_parallax2 {
    background: url('../images/paralax_bg2.webp') top left / cover fixed no-repeat;
}

.parallax_contentWR {
    max-width: 616px;
    float: right;
}

.parallax_content_title {
    color: #9f7a49;
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.parallax_content_title span {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.parallax_content_block {
    margin: 10px 0;
}

.parallax_content_item {
    display: flex;
    align-items: center;
    color: #9c9c9c;
    padding: 0;
    margin: 10px 0;
    position: relative;
    transition: .4s ease-in-out;
}

.parallax_content_item:hover {
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.parallax_content_item-icon {
    position: relative;
    margin-right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.parallax_content_item-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(159,122,73,.5);
    transform: scale(0);
    transition: .4s ease-in-out;
}

.parallax_content_item:hover .parallax_content_item-icon::before {
    transform: scale(1);
}

.parallax_contentWR2 {
    max-width: 500px;
}

.parallax_contentWR2 p {
    color: #e4e4e4;
    letter-spacing: 1px;
    line-height: 1.7;
    text-shadow: 0 0 2px #000;
}

.section_sliderProduct {
    padding: 50px 0;
}

.slider-device-wrapper {
    margin: 50px 0;
}

.home_nav_tabs {
    margin-top: 50px;
    border: initial;
    justify-content: center;
}

.home_nav_tabs .nav-link {
    border-radius: initial;
    border: initial;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    transition: .4s ease-in-out;
}

.home_nav_tabs .nav-link:hover,
.home_nav_tabs .nav-link.active {
    border-bottom: 2px solid #9f7a49;
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    transition: opacity .2s ease;
    opacity: .7;
    background: #9f7a49;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.product_card {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px;
}

.product_photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.product_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease-in-out;
}

.product_photo-additional {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: .4s ease-in-out;
}

.badge_sold-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #DB0123;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.product_photo:hover > img {
    opacity: 0;
    transition: .4s ease-in-out;
}

.product_photo:hover .product_photo-additional {
    right: 0;
    transition: .4s ease-in-out;
}

.product_detailWr {
    position: relative;
    overflow: hidden;
}

.product_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_detail h3 {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}

.product_price {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.product_price-price {
    color: #888888;
    font-size: 14px;
    font-weight: 700;
}

.product_price-sale {
    color: #DB0123;
}

.product_card-button {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.product_card-button a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: .3s ease-in-out;
}

.product_card-button a:hover {
    color: #fff;
    background: #000;
    transition: .3s ease-in-out;
}

.product_detailWr:hover .product_card-button {
    opacity: 1;
    transition: .5s ease-in-out;
}

.section_news {
    padding: 50px 30px;
}

.section_news .section_title{
    color: #9c9c9c;
}

.slider-news {
    padding-bottom: 60px;
}

.slider_newsButton-control {
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.slider_newsButton {
    width: 40px;
    height: 40px;
    border: 1px solid #9f7a49;
    font-size: 20px;
    color: #9f7a49;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.slider_newsButton i {
    position: relative;
    z-index: 3;
    transition: .4s ease-in-out;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: initial;
}

.slider_newsButton-prev {
    left: 49.5%;
    transform: translate(-100%);
}

.slider_newsButton-next {
    right: 49.5%;
    transform: translate(100%);
}

.slider_newsButton-prev::before {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #9f7a49;
    z-index: 2;
    transition: .4s ease-in-out;
}

.slider_newsButton-prev:hover::before {
    right: 0;
}

.slider_newsButton:hover i {
    color: #fff;
}

.slider_newsButton-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #9f7a49;
    z-index: 2;
    transition: .4s ease-in-out;
}

.slider_newsButton-next:hover::before {
    left: 0;
}

.news_card {
    padding: 10px;
}

.news_card_image img {
    width: 100%;
}

.news_card_description {
    display: flex;
    color: #9c9c9c;
    padding: 30px 0;
}

.news_card-date {
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
    float: left;
    margin-top: 0;
    font-size: 26px;
}

.news_card-content {
    padding:  0 20px;
}

.news_card-content .author {
    margin-bottom: 15px;
    color: #9f7a49;
}

.news_card-content .author i {
    margin-right: 5px;
}

.news_card-content h4 a {
    font-size: 20px;
    font-weight: 700;
    color: #9c9c9c;
    letter-spacing: 1px;
    line-height: 1.5;
    transition: .4s ease-in-out;
}

.news_card-content .btn {
    color: #9c9c9c;
    text-decoration: underline;
    padding: 0;
}

.news_card-content h4 a:hover,
.news_card-content .btn:hover {
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.footer {
    background: #ebebeb;
}

.footer_nav {
    padding: 50px 0;
}

.footer_nav h3 {
    margin-bottom: 25px;
    font-size: 20px;
    color: #9f7a49;
}

.footer_nav li {
    margin-bottom: 10px;
}

.footer_nav li a {
    color: #000;
    padding: 5px 0;
    display: block;
    transition: .4s ease-in-out;
}

.footer_nav li a:hover {
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.footer_social {
    margin: 30px 0;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_social li {
    margin: 0 5px;
}

.footer_social li a {
    color: #000;
    padding: 5px;
    font-size: 18px;
    transition: .4s ease-in-out;
}

.footer_social li a:hover {
    color: #9f7a49;
    transition: .4s ease-in-out;
}

.copyright {
    padding: 20px 0;
    border-top: 1px solid #d7d7d7;
    display: flex;
    justify-content: center;
}
